**/*.dll
**/*.exe
build/*
bin-*/*
distrib/build_*/*
**.bak
**.orig
screenshot.bmp
*.pyc
Thumbs.db
OpenGL-tutorial_v*
**.mtl
.DS_Store

demo00_first_window/demo00_first_window
demo01_triangle/demo01_triangle
demo02_triangle_transformations/demo02_triangle_transformations
demo03_triangle_transformations_ortho/demo03_triangle_transformations_ortho
demo04_cube/demo04_cube
demo05_cube_triangle/demo05_cube_triangle
demo06_cube_random_colours/demo06_cube_random_colours
demo07_cube_random_colours_cycling/demo07_cube_random_colours_cycling
demo08_cube_texture_bmp/demo08_cube_texture_bmp
